@import "tailwindcss";
@source "../node_modules/@aganitha";
:root {
  --background: oklch(0.97 0.01 314.78);
  --foreground: oklch(0.37 0.03 259.73);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.37 0.03 259.73);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.37 0.03 259.73);
  --primary: oklch(0.71 0.16 293.54);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.91 0.05 306.09);
  --secondary-foreground: oklch(0.45 0.03 256.80);
  --muted: oklch(0.95 0.03 307.17);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --accent: oklch(0.94 0.03 321.94);
  --accent-foreground: oklch(0.37 0.03 259.73);
  --destructive: oklch(0.81 0.10 19.57);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.91 0.05 306.09);
  --input: oklch(0.91 0.05 306.09);
  --ring: oklch(0.71 0.16 293.54);
  --chart-1: oklch(0.71 0.16 293.54);
  --chart-2: oklch(0.61 0.22 292.72);
  --chart-3: oklch(0.54 0.25 293.01);
  --chart-4: oklch(0.49 0.24 292.58);
  --chart-5: oklch(0.43 0.21 292.76);
  --sidebar: oklch(0.91 0.05 306.09);
  --sidebar-foreground: oklch(0.37 0.03 259.73);
  --sidebar-primary: oklch(0.71 0.16 293.54);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.94 0.03 321.94);
  --sidebar-accent-foreground: oklch(0.37 0.03 259.73);
  --sidebar-border: oklch(0.91 0.05 306.09);
  --sidebar-ring: oklch(0.71 0.16 293.54);

  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;

  --radius: 1.5rem;
}

.dark {
  --background: oklch(0.22 0.01 56.04);
  --foreground: oklch(0.93 0.03 272.79);
  --card: oklch(0.28 0.03 307.23);
  --card-foreground: oklch(0.93 0.03 272.79);
  --popover: oklch(0.28 0.03 307.23);
  --popover-foreground: oklch(0.93 0.03 272.79);
  --primary: oklch(0.79 0.12 295.75);
  --primary-foreground: oklch(0.22 0.01 56.04);
  --secondary: oklch(0.34 0.04 308.85);
  --secondary-foreground: oklch(0.87 0.01 258.34);
  --muted: oklch(0.28 0.03 307.23);
  --muted-foreground: oklch(0.71 0.02 261.32);
  --accent: oklch(0.39 0.05 304.64);
  --accent-foreground: oklch(0.87 0.01 258.34);
  --destructive: oklch(0.81 0.10 19.57);
  --destructive-foreground: oklch(0.22 0.01 56.04);
  --border: oklch(0.34 0.04 308.85);
  --input: oklch(0.34 0.04 308.85);
  --ring: oklch(0.79 0.12 295.75);
  --chart-1: oklch(0.79 0.12 295.75);
  --chart-2: oklch(0.71 0.16 293.54);
  --chart-3: oklch(0.61 0.22 292.72);
  --chart-4: oklch(0.54 0.25 293.01);
  --chart-5: oklch(0.49 0.24 292.58);
  --sidebar: oklch(0.34 0.04 308.85);
  --sidebar-foreground: oklch(0.93 0.03 272.79);
  --sidebar-primary: oklch(0.79 0.12 295.75);
  --sidebar-primary-foreground: oklch(0.22 0.01 56.04);
  --sidebar-accent: oklch(0.39 0.05 304.64);
  --sidebar-accent-foreground: oklch(0.87 0.01 258.34);
  --sidebar-border: oklch(0.34 0.04 308.85);
  --sidebar-ring: oklch(0.79 0.12 295.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}